footer {
    padding-top: 15rem;
    padding-bottom: 15rem;
    padding-left: 18rem;
    padding-right: 30rem;
    background: url(../images/footer/shum.png);
    background-color: #3A3A3B;
    display: flex;
    justify-content: space-between;
    @include breakpoint($xl-bp) {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        justify-content: flex-start;
    }

    @include breakpoint($lb-bp) {
        padding-top: 10rem;
        padding-bottom: 10rem;
        flex-wrap: wrap;
    }

    @include breakpoint($sm-bp) {
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
        @include breakpoint($xl-bp) {
            &:not(:first-child) {
                padding-top: 2rem;
            }
        }

        .imgContainer {
            margin-top: 2rem;
        }
        .imgContainer + .littleText {
            margin-top: 2.5rem;
        }

        .bigText {
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 800;
            font-size: 1.8rem;
            line-height: 2.5rem;
            color: #FFFFFF;
            margin-top: 2rem;
            width: 20rem;
            @include breakpoint($xl-bp) {
                margin-top: 0;
            }
        }

        .mob {
            display: none;
        }

        .bigText + .bigText {
            padding-top: 2rem;
        }

        .littleText {
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.9rem;
            color: #FFFFFF;
            margin-top: 1rem;
            width: 20rem;
            @include breakpoint($xl-bp) {
                width: 17rem;
            }
        }
    }

    .leftContainer {
        justify-content: inherit;
    }

    .rightContainer {
        justify-content: inherit;
        div {
            display: flex;
            flex-direction: column;
        }
    }
}