<footer>
    <div class="container leftContainer">
        <a href="#" class="imgContainer">
            <img src="./assets/images/footer/logo.png" alt="#">
        </a>

        <a href="#" class="littleText">
            Авторство
        </a>
    </div>

    <div class="container">
        <a href="#" class="bigText">
            Интеграции
        </a>
        <a href="#" class="bigText">
            Внедрение CRM
        </a>
        <a href="#" class="bigText">
            Цены
        </a>
        <a href="#" class="bigText">
            Материалы
        </a>
        <a href="#" class="littleText">
            Что ещё есть в Сделке
        </a>
        <a href="#" class="littleText">
            В разработке
        </a>
    </div>

    <div class="container">
        <a href="#" class="bigText">
            О компании
        </a>

        <a href="#" class="littleText">
            Отзывы и кейсы клиентов
        </a>

        <a href="#" class="littleText">
            О нас
        </a>

        <a href="#" class="littleText">
            Реквизиты
        </a>

        <a href="#" class="bigText mob">
            Блог
        </a>
    </div>

    <div class="container rightContainer">
        <a href="tel:88001113322" class="bigText mob">
            8 800 111 33 22
        </a>

        <div>
            <a href="#" class="littleText">
                Политика обработки персональных данных
            </a>
            
            <a href="#" class="littleText">
                Договор оферты
            </a>
        </div>
    </div>
</footer>