<footer class="footer">
    <div class="title">
        Звоните, пишите. <span>Мы на связи</span>
    </div>

    <div class="cartContainer">
        <div style="position:relative;overflow:hidden;"><a href="https://yandex.by/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Санкт‑Петербург</a><a href="https://yandex.by/maps/2/saint-petersburg/house/furshtatskaya_ulitsa_1_14/Z0kYdQNpTUcOQFtjfXV1dHxlYw==/?ll=30.349429%2C59.945067&utm_medium=mapframe&utm_source=maps&z=17.09" style="color:#eee;font-size:12px;position:absolute;top:14px;">Фурштатская улица, 1/14 — Яндекс Карты</a><iframe src="https://yandex.by/map-widget/v1/-/CCUVuPUzWB" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>

        <div class="contactsContainer">
            <div class="contacts">
                <p>8 800 111 33 22</p>
                <p>sales@sdelka-crm.ru</p>
                <p>Telegram</p>
            </div>

            <button>Задать вопрос в чате</button>
        </div>

        <div>
            Санкт-Петербург г, ул Фурштатская, д. 28, литера А, помещ. 20-Н Р.М. №1
        </div>
    </div>

    <div class="socialNetworkContainer">
        <div class="socialTitle">
            <p>Давайте дружить в соцсетях</p>
            <p>Делимся знаниями и новостями в сфере недвижимости и маркетинге:</p>
        </div>

        <div class="btnContainer">
            <button>
                <svg>
                    <use href="#tgIco"></use>
                </svg>
            </button>
            <button>
                <svg>
                    <use href="#vkIco"></use>
                </svg>
            </button>
            <button>
                <svg>
                    <use href="#youtube"></use>
                </svg>
            </button>
        </div>
    </div>
</footer>