<header class="header">
    <a href="#" class="logoContainer">
        <img src="./assets/images/header/logo.svg" alt="#">
    </a>
    <div class="menuItemsContainer">
        <div class="menuItemsHelper">
            <a href="#" class="menuItem">Возможности CRM</a>
            <a href="#" class="menuItem">Цены</a>
            <a href="#" class="menuItem">8 800 111 33 22 </a>
        </div>
        <button class="btnCall">Свяжитесь со мной</button>
        <button class="btnInit">Вход</button>
        <button class="burgerBtn">
            <span class="burger-button-close">
                <span id="first-line-burger"></span>
                <span id="second-line-burger"></span>
                <span id="third-line-burger"></span>
            </span>
        </button>
    </div>
    <div class="page-wrapper">
        <div class="overlay" id="menu-overlayZ"></div>
        <div class="menu-main">
            <div class="menu-wrapper" id="menu-wrapperZ">
                <div class="close-block" id="#close-blockZ">
                    <span>Закрыть меню</span>
                    <div></div>
                </div>
                <div class="nav-block">
                    <ul>
                        <li><a href="#">Преимущества </a></li>
                        <li><a href="#">Возможности Сделки</a></li>
                        <li><a href="#">Интеграции</a></li>
                        <li><a href="#">Что ещё есть в Сделке</a></li>
                        <li><a href="#">Внедрение СRM</a></li>
                        <li><a href="#">Тарифы</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">В разработке</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>